@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<h5>感谢</h5>
<p>网易云音乐API：<a class="text-info" href="https://www.bzqll.com/">鼻子亲了脸</a></p>

<p>源码：<a href="https://github.com/Night-Dawn/StudyDemo">Github</a></p>