################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Bing Picture/DesignTimeBuild
/.vs/Bing Picture/v15
/.vs/Bing Picture/v16
